@import "../Constants.scss";

.devlog-post-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;

    &::after {
        content: "";
        background-color: var(--neutral);
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0.5;

        transition: background-color 0.25s ease-in-out;
    }

    .devlog-post {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: calc(100% - 90px); // Minus size of navbar.
        overflow: scroll;

        .devlog-post-container {
            background-color: var(--background);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            width: 60%;
            height: 99%;
            min-width: 80rem;
            min-height: 50rem;
            border-radius: 2.5rem;
            overflow: hidden;

            transition: background-color 0.25s ease-in-out;

            .close-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 6rem;

                .close-button-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    .close-btn {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background: none;
                        color: var(--foreground);
                        border: none;
                        outline: inherit;
                        cursor: pointer;
                        font: inherit;
                        font-size: $heading4;

                        transition: color 0.25s ease-in-out, font-size 0.2s ease-in-out;

                        &::after {
                            content: "";
                            background-color: var(--neutral);
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            opacity: 0.1;

                            clip-path: circle(2rem at 50% 50%);
                            -webkit-clip-path: circle(2rem at 50% 50%);

                            transition: background-color 0.25s ease-in-out, clip-path 0.3s ease-in-out, opacity 0.2s ease-in-out;
                        }

                        .close-icon {
                            position: relative;
                            z-index: 2;
                            width: $heading4;
                            height: $heading4;
                            border-radius: 50%;

                            transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
                        }

                        &:hover {
                            font-size: $heading3;

                            &::after {
                                opacity: 0.25;
                                clip-path: circle(100%);
                                -webkit-clip-path: circle(100%);
                            }

                            .close-icon {
                                width: $heading3;
                                height: $heading3;
                            }
                        }

                        &:active {
                            font-size: $heading5;

                            &::after {
                                opacity: 0.1;
                            }

                            .close-icon {
                                width: $heading5;
                                height: $heading5;
                            }
                        }
                    }
                }
            }

            .post {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 1rem;
                padding-top: 2.5rem;
                padding-bottom: 5rem;
                overflow-y: scroll;

                .post-body {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    gap: 3rem;
                    width: 90%;

                    .post-header {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        width: 100%;
                        color: var(--foreground);

                        transition: color 0.25s ease-in-out;

                        .post-project {
                            color: var(--neutral);
                            font-size: $heading4;
                            font-weight: 500;
                            font-style: italic;

                            transition: color 0.25s ease-in-out;
                        }

                        .post-subject {
                            font-size: $heading2;
                            font-weight: 700;
                        }

                        .post-subheading {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 2rem;

                            // .post-publication-date {}

                            // .spacer {}

                            .project-buttons-container {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 1rem;

                                .project-btn {
                                    border-radius: 50%;
                                    overflow: hidden;

                                    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;

                                    .btn-link {
                                        .btn-logo-container {
                                            width: $heading5;
                                            height: $heading5;

                                            .btn-logo {
                                                width: 100%;
                                                height: auto;
                                                fill: var(--foreground);

                                                transition: fill 0.25s ease-in-out;
                                            }
                                        }
                                    }

                                    &:hover {
                                        background-color: var(--accent);
                                        box-shadow: 0 0 10px var(--accent);
    
                                        transform: scale(1.1);
    
                                        .btn-link {
                                            .btn-logo-container {
                                                .btn-logo {
                                                    fill: var(--background);
                                                }
                                            }
                                        }
                                    }
    
                                    &:active {
                                        transform: scale(0.9);
                                    }
                                }
                            }
                        }
                    }

                    .post-content {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 3rem;
                        width: 100%;
                        color: var(--foreground);

                        transition: color 0.25s ease-in-out;

                        .content-section {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: column;
                            gap: 1rem;
                            width: 100%;

                            .section-title {
                                text-transform: uppercase;
                                font-size: $heading6;
                                font-weight: 500;
                            }

                            .section-body {
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                flex-direction: column;
                                gap: 1.5rem;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.overlay-opened {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 825px) {
    .devlog-post-overlay {
        .devlog-post {
            .devlog-post-container {
                width: 100%;
                height: 100%;
                min-width: 15rem;
                min-height: 40rem;
            }
        }
    }
}

@media screen and (max-width: 625px) {
    .devlog-post-overlay {
        .devlog-post {
            .devlog-post-container {
                .post {
                    padding: 1rem;
                    padding-bottom: 5rem;

                    .post-body {
                        .post-header {
                            .post-project {
                                font-size: $heading5;
                            }

                            .post-subject {
                                font-size: $heading3;
                            }
                        }

                        .post-content {
                            .content-section {
                                gap: 0.5rem;

                                .section-title {
                                    font-size: $defaultFontSize;
                                }

                                .section-body {
                                    gap: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .devlog-post-overlay {
        .devlog-post {
            .devlog-post-container {
                .close-button {
                    height: 4rem;

                    .close-button-container {
                        .close-btn {
                            font-size: $heading6;

                            &::after {
                                clip-path: circle(1.5rem at 50% 50%);
                                -webkit-clip-path: circle(1.5rem at 50% 50%);
                            }

                            .close-icon {
                                width: $heading6;
                                height: $heading6;
                            }

                            &:hover {
                                font-size: $heading5;

                                .close-icon {
                                    width: $heading5;
                                    height: $heading5;
                                }
                            }

                            &:active {
                                font-size: $defaultFontSize;

                                .close-icon {
                                    width: $defaultFontSize;
                                    height: $defaultFontSize;
                                }
                            }
                        }
                    }
                }

                .post {
                    .post-body {
                        width: 98%;

                        .post-header {
                            .post-project {
                                font-size: $heading6;
                            }

                            .post-subject {
                                font-size: $heading4;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 435px) {
    .devlog-post-overlay {
        .devlog-post {
            .devlog-post-container {
                .post {
                    .post-body {
                        .post-header {
                            .post-project {
                                font-size: $defaultFontSize;
                            }

                            .post-subject {
                                font-size: $heading5;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .devlog-post-overlay {
        .devlog-post {
            .devlog-post-container {
                .post {
                    .post-body {
                        .post-header {
                            .post-subheading {
                                align-items: flex-start;
                                flex-direction: column;
                                gap: 0.5rem;
                                width: 100%;
                                margin-top: 0.5rem;

                                .spacer {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}