@import '../Constants.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -90px; // Navbar height + Navbar padding.
    overflow: hidden;
    width: 100%;
    height: 95vh;
    height: 95svh;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        // position: relative;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;

        .header-background-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: inherit;
            height: inherit;
            max-width: inherit;
            max-height: inherit;
            object-fit: contain;
            // mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 85%, transparent 98%);

            // $header_mask: linear-gradient(to top, rgba(0, 0, 0, 1.0) 85%, transparent 98%);
            // -webkit-mask-image: $header_mask;
            // mask-image: $header_mask;

            .background-image {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
            }
        }

        .header-heading {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5rem;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 1rem;

            .heading-container {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                &:first-child {
                    align-items: flex-end;
                }

                &:last-child {
                    align-items: flex-start;
                }

                .heading {
                    color: $lightText_LightTheme;
                    text-transform: uppercase;
                    text-align: center;
                    // text-shadow: 0.5rem 0rem $accent1_LightTheme;
                    text-shadow: 0.5rem 0rem $accent2_LightTheme;
                    font-size: $pageTitle3;
                    letter-spacing: 0.85rem;
                }

                .subheading {
                    color: white;
                    padding: 0.5rem 5rem;
                    border-radius: 5rem;
                    text-align: center;
                    font-size: $heading3;
                }
            }
        }
    }
}

@media screen and (max-height: 650px) {
    .header {
        height: 110vh;
        height: 110svh;

        .header-container {
            .header-heading {
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-height: 500px) {
    .header {
        height: 150vh;
        height: 150svh;

        .header-container {
            .header-heading {
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .header-container {
            .header-heading {
                .heading-container {
                    .heading {
                        font-size: $pageTitle4;
                        letter-spacing: 0.5rem;
                    }

                    .subheading {
                        font-size: $heading5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .header {
        .header-container {
            .header-heading {
                .heading-container {
                    .heading {
                        font-size: $pageTitle5;
                        letter-spacing: 0.35rem;
                    }

                    .subheading {
                        font-size: $heading6;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        .header-container {
            .header-heading {
                gap: 2.5rem;

                .heading-container {
                    .heading {
                        font-size: $pageTitle6;
                    }

                    .subheading {
                        font-size: $heading8;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .header {
        .header-container {
            .header-heading {
                gap: 1.5rem;

                .heading-container {
                    .heading {
                        font-size: $heading2;
                    }

                    .subheading {
                        font-size: $heading8;
                    }
                }
            }
        }
    }
}