.section {
    padding: 2rem;
    background: #fff;
}

.introduction__container {
    display: flex;
    flex-direction: row;
}

.introduction__wrapper {
    width: 50%;
}

.section h1 {
    color: rgb(81, 86, 141);
    text-align: center;
}

.section h2 {
    text-align: center;
}

.list-wrapper h3 {
    color: rgb(111, 112, 126);
    text-align: center;
}

.details__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.details {
    position: relative;
    text-align: justify;
    /* margin: 0px 0 10px; */
}


.list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1120px; 
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.list-wrapper{
    display: table;
    width: 60%;
    justify-content: right;
    position: relative;
}

/* .list {
    justify-content: center;
} */

.list-item {
    margin: 0 1rem;
}

@media screen and (max-width: 1350px) {
    .list-wrapper{
        width: 70%;
    }
}

@media screen and (max-width: 1250px) {
    .list-wrapper{
        width: 80%;
    }
}

@media screen and (max-width: 1150px) {
    .list-wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .introduction__container {
        flex-direction: column;
    }
    
    .introduction__wrapper {
        width: 100%;
    }

    .list-wrapper{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .details {
        word-spacing: -1px;
    }

    .list-container {
        flex-direction: column;
    }

    .list-wrapper{
        width: 100%;
    }
}