@import "Constants.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-size: 62.5%;
}

.app {
    background-color: $lightBackground_LightTheme;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: $defaultFontSize;
    font-weight: 300;

    .container {
        width: 100%;
        height: 100%;
    }
}

// Use this on body element when overlay is opened.
.suspend-body-scrolling {
    overflow: hidden;
}
